<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %> 
<body>
    <%- include('partials/header') %> 
    <main>
        <div class="container">
            <section>
                <div class="columns">
                    <div class="column is-6">
                        <figure class="image">
                            <img src="/images/WhatsApp Image 2021-08-02 at 20.24.10.jpeg" alt="">
                        </figure>
                    </div>
                    <div class="column is-6">
                        <h1>Producto no encontrado</h1>
                        <h2></h2>
                        <a href="/" class="button is-success">Volver inicio</a>

                    </div>
                </div>
            </section>
        </div>
    </main>
    <%- include('partials/footer') %> 
</body>
</html>


              